.horizantal_input select{
    height: 40px;
}
.form_footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
}
.add_product_modal{
    max-width: 89% !important;
}
.completed{
    background-color: #B589F9 !important;
}
.not_completed{
background-color: #D9D9D9 !important;
}
.in_progress{
    background-color: #7366FF !important;
}
.step_title{
    color: white;
    font-weight: bold;
    font-size: 16px;
}